
/*---header---*/
header{
  width: 100%;
}
#logoImage {
	height: 100%;
	width: auto;
	margin-left: auto;
  margin-right: auto;
  display: block;
}
.logo {
	width: 60%;
	height: 10%;
	float: left;
}
.signInUp {
	width: 40%;
	height: 10%;
	float:left; 
  margin: 0; 
}
.signInUpList {
	list-style-type: none;
  overflow: hidden;
}
.signInUpList li{
	float:left;
	border: orange solid 3px;  
	border-radius: 8px; 
  margin-left:10px;
  margin-top:20px
  bottom:20px;
}
#logIn a{
	padding: 14px 14px;
	text-decoration: none;
	font-family:Verdana;
  font-size: 20px;
}
#signUp a{
	padding: 14px 14px;
	text-decoration: none;
	font-family:Verdana;
  font-size: 20px;
}
/*---header end---*/

/*---nav---*/
.dropbtn {
    background-color: #b3b3ff;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    min-width: 130px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 130px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    font-family: verdana;
    z-index: 999; 
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: lightgrey;
}

/*---nav end---*/

.homeExample{
	width: 100%;
	height: 80%;
	background-color:lightgrey;
}
.focus{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.howTo {
  float: left;
	width: 100%;
	height: 20%;
	background-color: lightpink;
  text-align: center;
}

.howTo a{
  font-family: verdana;
  font-size: 30px;
  color: white;
  text-decoration: none;
}

.getStarted {
  float: left;
	width: 100%;
	height: 20%;
	background-color: lightblue;
	text-align: center;
}
.getStarted a {
  font-family:Verdana;
  font-size: 25px;
  color: black;
  text-decoration: none;

}
/*---footer---*/
footer {
  float: left;
  height: auto;
  width: 100%;
}

.footContainer { 
  width: 100%;
  text-align: center;
}
.foot {
  width: 20%;
  float: left;
  color: grey;
  text-align: center;
  font-family:Verdana;
  font-size: 20px;
  text-decoration: none;
  margin-left: 50px;
}
.footerRow{
  width: 100%;
  text-align: center;
  float: left;
}
/*---foot end---*/

.mainbox{overflow:hidden; position:relative;}
.flashbox{overflow:hidden;position:relative;}
.imagebox{text-align:right;position:relative;z-index:999;}
.bitdiv{display:inline-block;width:18px;height:18px;margin:0 10px 10px 0px;cursor:pointer;float:right;}
.defimg{background-image:url(../Image/02.png)}
.curimg{background-image:url(../Image/01.png)}