


.homeExample{
	width: 100%;
	height: 80%;
	background-color:lightgrey;
}
.focus{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 200px;
  text-align: center;
}
.howTo {
  float: left;
	width: 100%;
	height: 20%;
	background-color: lightpink;
  text-align: center;
  margin-top: 5px;
  padding-top: 20px;
}

.howTo a{
  font-family: verdana;
  font-size: 30px;
  color: white;
  text-decoration: none;
}

.getStarted {
  float: left;
	width: 100%;
	height: 15%;
	background-color: lightblue;
	text-align: center;
  margin-top: 5px;
  padding-top: 30px;

}
.getStarted a {
  font-family:Verdana;
  font-size: 25px;
  color: black;
  text-decoration: none;
}


.mainbox{overflow:hidden; position:relative;}
.flashbox{overflow:hidden;position:relative;}
.imagebox{text-align:right;position:relative;z-index:999;}
.bitdiv{display:inline-block;width:18px;height:18px;margin:0 10px 10px 0px;cursor:pointer;float:right;}
.defimg{background-image:url(../Image/02.png)}
.curimg{background-image:url(../Image/01.png)}