@charset "UTF-8";
/* CSS Document */

img {
   max-width: 100%;
   height: auto;
}
img.pull-right { margin: 12px 0px 0px 18px; }
img.pull-left { margin: 12px 18px 0px 0px; }

p {
	color: #c34ff2;
}

h2 {
	color: #c34ff2;
}


#details:before {
	padding-top: 20px;
}

#details {
	padding-top: 10px;
	padding-right: 20px;
	background-color: lightgrey;
	border-radius: 20%;
	padding-bottom: 10px;
}


.inforDetails {
	list-style: none;
}

.info:before {
    content: "•"; /* Insert content that looks like bullets */
    padding-right: 8px;
    color: purple; /* Or a color you prefer */
}

.example-caption {
  position: absolute;
  left: 15%;
  right: 15%;
  bottom: 20px;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #ffffff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}



/* default ------------------------------------------------------------- */
.row {
   width: 96%;
   padding-top: 100px; 
   max-width: 100%;
   margin: 0 auto;
}

/* fixed width for IE8 */
.ie .row { width: 1000px ; }

.narrow .row { max-width: 980px; }

.row .row { 
   width: auto;

   max-width: none; 
   margin: 0 -20px 20px; 
}

/* row clearing */
.row:before,
.row:after {
    content: " ";
    display: table;
}
.row:after {
    clear: both;
}

.column, .columns {
   position: relative;
   padding: 0 20px;
   min-height: 1px;
   float: left;
}
.column.centered, .columns.centered  {
    float: none;
    margin: 0 auto;
}

/* removed gutters */
.row.collapsed > .column,
.row.collapsed > .columns,
.column.collapsed, .columns.collapsed  { padding: 0; }

[class*="column"] + [class*="column"]:last-child { float: right; }
[class*="column"] + [class*="column"].end { float: right; }

/* column widths */
.row .one         { width: 8.33333%; }
.row .two         { width: 16.66667%; }
.row .three       { width: 25%; }
.row .four        { width: 33.33333%; }
.row .five        { width: 41.66667%; }
.row .six         { width: 50%; }
.row .seven       { width: 58.33333%; }
.row .eight       { width: 66.66667%; }
.row .nine        { width: 75%; }
.row .ten         { width: 83.33333%; }
.row .eleven      { width: 91.66667%; }
.row .twelve      { width: 100%; }