
body {
    font-family: Verdana, Geneva, sans-serif;
}

.sign-head{
  width: 50%;
  margin: 0 auto;
  font-size: 25px;
  font-weight: bold;
}

.sign-up-input .sign-in-input{
  width: 50%;
  height: 50px;
  margin-bottom: 25px;
  padding: 0 15px 2px;
  font-size: 15px;
  background: white;
  border: 3px solid #ebebeb;
  border-color: #000000;
  border-radius: 4px;
}

.sign-up-input .sign-in-input:focus {
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}
.container {
     width: 50%;
     margin: auto;
     clear: both;
     padding-top: 50px;
     padding-right: 30px;
     padding-bottom: 50px;
     padding-left: 30px;

 }
 .container input {
     width: 100%;
     height: 50px;
     clear: both;
 }


 .SignUp{
     border: 2px solid red;
     width:75%;
     margin: auto;
     background-color:white;
     padding-top: 50px;
     padding-right: 30px;
     padding-bottom: 50px;
     padding-left: 30px;
 }

 .SignIn {
     border: 2px solid red;
     width:75%;
     margin: auto;
     background-color:white;
     padding-top: 50px;
     padding-right: 30px;
     padding-bottom: 50px;
     padding-left: 30px;
 }


 #submitButton1{
   width: 40%;
   height: 30px;
   float: right;
   font-size: 18px;
 }

 #userInfo{
   font-size: 18px;
 }

 .dashBoardWrapper{
   border: 2px solid red;
   width:75%;
   margin: auto;
   background-color:white;
   padding-top: 50px;
   padding-right: 30px;
   padding-bottom: 50px;
   padding-left: 30px;
 }

 #dashBoardContent{
   border: 2px solid red;
   width:60%;
   margin: auto;
   background-color:white;
   padding-top: 50px;
   padding-right: 30px;
   padding-bottom: 50px;
   padding-left: 30px;
 }

  #dashBoardContent a{
    text-decoration: none;
    color: black;
  }
  #dashBoardContent a:hover{
    color: blue;
  }

 .myAccountTitle{
    width:70%;
    margin: auto;
    padding-bottom: 50px;
 }

 #dashBoardContent li{
   list-style-type: none;
 }

 /*
  * style for the page 8 bookmarked item page
  */
 .venue >venueSubitems{
   display: inline;
 }

 #imageBook{
   width: 80px;
   height: auto;
 }
#shoppingCart{
  width: auto;
  height: 80px;
}

#borderRow{
  border:1px solid black;
}

 /* default ------------------------------------------------------------- */
 .row {
    width: 96%;
    padding-top: 50px;
    max-width: 100%;
    margin: 0 auto;
 }

 /* fixed width for IE8 */
 .ie .row { width: 1000px ; }

 .narrow .row { max-width: 980px; }

 .row .row {
    width: auto;
    max-width: none;
    margin: 0 -20px 20px;
 }

 /* row clearing */
 .row:before,
 .row:after {
     content: " ";
     display: table;
 }
 .row:after {
     clear: both;
 }

 .column, .columns {
    position: relative;
    padding: 0 0px;
    min-height: 1px;
    float: left;
 }
 .column.centered, .columns.centered  {
     float: none;
     margin: 0 auto;
 }

 /* removed gutters */
 .row.collapsed > .column,
 .row.collapsed > .columns,
 .column.collapsed, .columns.collapsed  { padding: 0; }

 [class*="column"] + [class*="column"]:last-child { float: right; }
 [class*="column"] + [class*="column"].end { float: right; }

 /* column widths */
 .row .one         { width: 8.33333%; }
 .row .two         { width: 16.66667%; }
 .row .three       { width: 25%; }
 .row .four        { width: 33.33333%; }
 .row .five        { width: 41.66667%; }
 .row .six         { width: 50%; }
 .row .seven       { width: 58.33333%; }
 .row .eight       { width: 66.66667%; }
 .row .nine        { width: 75%; }
 .row .ten         { width: 83.33333%; }
 .row .eleven      { width: 91.66667%; }
 .row .twelve      { width: 100%; }
